.nav {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.login {
  padding-top: 100px !important;
  width: 20px;
  height: 40px;
}

.email {
  width: 20px;
  height: 40px;
}

.password {
  width: 20px;
  height: 40px;
}
